body {
    color: red;
}

.user-card {
    width: 120px;
    margin: 10px;
    background-color: rgb(210, 204, 173);
    border-radius: 5%;
    box-shadow: 0 4px 10px grey;
    padding: 10px;
}

#response-error-message {
    color: red;
}

#user-card-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}